# Dependencies
/node_modules

# Misc
/reference
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# built files
/docs/main.png
/docs/main.PNG
/docs/main.jpg
/docs/main.JPG
/docs/main.jpeg
/docs/main.JPEG
/docs/main.html
/docs/main.HTML
